.navBarContainer {
  /* display: flex; */
  /* grid-template-columns: 1fr 4fr 1fr 1fr; */
  padding: 1rem;
  background-color: #ffcc00;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 100%, 0 60%);
  height: 150px;
  position: relative;
  /* z-index: 2; */
  
}


.logo {
  position: relative;
  width: 90%;
  background-color: #ffcc00;
  cursor: pointer;
}

.navBar {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  align-content: center;
  height: 30%;
  position: absolute;
  top: 30%;
  left: 25%;
  right: 25%;
  border-radius: 60px;
}

.navButton {
  font-weight: bold;
  color: #555;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.navButton:hover {
  background-color: #ffcc00;
  color: #FFF;
}

.active {
  background-color: #12062e;
  color: #FFF;
}


