.recipeDetail {
  max-width: 70%;
  margin: 0 auto;
}

.imgSumContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: justify;
  border-block-end: 1px solid;
}

.titleContainer {
  text-align: center;
  margin-bottom: 2rem;
  padding: 30px;
  border-block-end: 1px solid;
}

.recipeTitle {
  font-size: 2.5rem;
  margin: 0;
}

.summaryContainer {
  margin-bottom: 2rem;
  padding: 40px;
  border-left: 1px dashed;
}

.recipeSummary {
  font-size: 1.2rem;
  line-height: 1.5;
}

.healthScoreContainer {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipeScore {
  padding: 1rem;
  border-radius: 2.5rem;
  background-color: #ffcc00d3;
  color: rgba(0, 0, 0, 0.63);
}

.recipeDiets {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.recipeDiet {
  font-size: 1.2rem;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.imgContainer {
  text-align: center;
  padding: 40px;
  margin-bottom: 2rem;
}

.recipeImage {
  max-width: 100%;
  height: auto;
}

.recipeStep {
  display: grid;
  grid-template-columns: 1fr 20fr;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.recipeStepNumber {
  font-size: 1.5rem;
  margin: 0;
  font-weight: bold;
}

.recipeIngredients {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.recipeInstructions {
  font-size: 1.5rem;
  color: dfb200;
}
.recipeIngredient {
  font-size: 1.2rem;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.3rem 0.8rem;
  border: 1px solid #cccbcb;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.63);
}

.recipeStepText {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
  color: rgba(0, 0, 0, 0.781);

}

.recipeStepText::before {
  content: "- ";
  font-weight: bold;
  text-align: left;
}
