.card {
  /* background-color: #fff; */
  /* border: 1px solid #ddd; */
  /* border-radius: 5px; */
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
  margin: 20px;
  /* padding: 20px; */
  /* transition: box-shadow 0.2s ease; */
  /* max-width: 300px; */
  color: black;
}

.buttonCard {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  text-align: left;
  width: 100%;
  height: auto;
}

.buttonCard:hover h3 {
  text-decoration: underline;
}

.cardImg {
  /* display: block; */
  /* margin: 0 auto; */
  max-width: 100%;
  height: auto;
}


.card .diets li {
  display: inline-block;
  margin: 3px;
  padding: 7px 10px;
  border-radius: 10px;
  background-color: #ffcc00;
  color: rgba(0, 0, 0, 0.63);
}

.diets ul {
  padding: 0;
}

.cardTitle {
  height: 50px;
}